.result {
    height: 60px;
    background-color: #d004db91;
    width: 100%;
  }
  
  .result p {
    font-size: 40px;
    margin: 5px;
  
  }
  
  .calculator-body {
    max-width: 400px;
    margin: auto;
    border-radius: 5px;
  }
  
  .button {
    display: block;
}

button {
    width: 25%;
    background-color: #fe04d08a;
    height: 60px;
    font-size: 30px;
    color: white;
    border: 1px solid red;
  }
  